:root{
  --black-color:black;
  --white-color:#3b3b3b;
  --blue-color:#4c3e76;
  --navy-color:#181823;
  --gray-color:gray;
  
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  transition: 0.3s;
}
li{
  cursor: pointer;
}
.link{
  text-decoration: none;
  color: var(--blue-color);
  margin-right: 5px;
}
html{
  font-family: Arial, Helvetica, sans-serif;
  /* background-color:var(--black-color) ; */
  color: var(--white-color);
  min-height: 100vh;
}
body{
  background: linear-gradient(24deg, rgba(254,254,255,1) 0%, rgba(193,221,255,1) 100%);
  margin: auto 25%;
}
@media only screen and (max-width: 600px) {
  body {
    margin: auto 5%;
  }
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.search-container{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  transition: width 0.3s ease-in-out 0s;
}
.search-container-reveal{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  transition: width 0.3s ease-in-out 0s;
}
.search{
  border-radius: 5px;
  padding: 10px;
  border: none;
  display: none;
  transition: width 0.3s ease-in-out 0s;
  width: 0px;
}
.search-reveal{
  border-radius: 5px 5px 0 0;
  padding: 10px;
  border: none;
  outline: none;
  transition: width 0.3s ease-in-out 0s;
  width: 80%;
}
.search-glasses{
  cursor: pointer;
}
.search-glasses:hover{
  width: 30px;
  height: 30px;
  transition: width 0.3s ease-in-out 0s;
}
.search-value-container{
  display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.searched-users{
  left: 0;
    position: absolute;
    top: 36px;
    background-color: white;
    width: 100%;
    padding:0 10px;
    border-radius: 0px 5px 5px 5px;
    color: var(--blue-color);
}
.searched-users div:not(:first-child) h5:after{
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1px;
  background-color: #18182379;
  left: 0;
  margin: -7.5px 0px
}
.searched-users h5{
  margin: 15px 0;
}
.all-results{
  padding: 10px;
}
.full-search-reveal {
  border-radius: 5px 5px 0 0;
  padding: 10px;
  border: none;
  outline: none;
  transition: width 0.3s ease-in-out 0s;
  width: 100%;
}
.full-search{
  background-color: white;
  padding: 10px;
  font-size: 25px;
}
.full-search h5{
  padding: 10px;
}
.full-search-container{
  position: relative;
}
.full-search div:not(:first-child) h5:after{
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1px;
  background-color: #18182379;
  left: 0;
  margin: -25px 0px
}
.post{
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  color: var(--white-color);
  gap: 10px;
}
.br{
  background-color: #4c3e7642;
    width: 100%;
    height: 0.1px;
    margin: 10px 0;
}
.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin: 135px auto;
}
form input{
  padding: 15px;
  border-radius: 5px;
}
button{
  border: 1px solid var(--blue-color);
  padding: 10px;
  background-color: transparent;
  color: var(--white-color);
  cursor: pointer;
}
.switchLogin{
  color: blue;
  cursor: pointer;
}
ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.likes{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.like{
  position: relative;
  cursor: pointer;
  transition: width 0.3s ease-in-out 0s;

}
.like-box{
  position: absolute;
  background-color: #181823;
  border-radius: 5px;
  color: white;
  display: none;
  padding: 6px;
  transition: 0.3s;

}

.like:hover .like-box{
display: flex;
flex-direction: column;
}
.teaxt-area-container{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
textarea{
  border-radius: 5px;
  width: 75%;
  text-align: center;
  margin: 5px;
  padding: 10px;
  border: none;
  outline: none;
}
.fetch-more{
  text-align: center;
  cursor: pointer;
  margin: 30px;
}
.name{
  padding: 10px;
}
.heart{
  cursor: pointer;
  color: #3b3b3b;
  margin: 10px;
}
.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container p{
  font-weight: 900!important;
}
button:hover{
  background-color: var(--blue-color);
  color: aliceblue;
}
.trash{
  cursor: pointer;
}
.modal-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #181823;
}


.lds-roller {
  display: flex;
  width: 85%;
  height: 90vh;
  align-items: center;
  justify-content: center;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--blue-color);
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}